CXF_Client/src/main/resources/nameService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="NameServiceImplService" targetNamespace="http://server.ws.stepsoln.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.ws.stepsoln.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema elementFormDefault="unqualified" targetNamespace="http://server.ws.stepsoln.com/" version="1.0" xmlns:tns="http://server.ws.stepsoln.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="getFullName" type="tns:getFullName" />
			<xs:element name="getFullNameResponse" type="tns:getFullNameResponse" />
			<xs:complexType name="getFullName">
				<xs:sequence>
					<xs:element minOccurs="0" name="firstName" type="xs:string" />
					<xs:element minOccurs="0" name="lastName" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getFullNameResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getFullNameResponse">
		<wsdl:part element="tns:getFullNameResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getFullName">
		<wsdl:part element="tns:getFullName" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="NameService">
		<wsdl:operation name="getFullName">
			<wsdl:input message="tns:getFullName" name="getFullName">
			</wsdl:input>
			<wsdl:output message="tns:getFullNameResponse" name="getFullNameResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NameServiceImplServiceSoapBinding" type="tns:NameService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getFullName">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getFullName">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getFullNameResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NameServiceImplService">
		<wsdl:port binding="tns:NameServiceImplServiceSoapBinding" name="NameServiceImplPort">
			<soap:address location="http://localhost:8080/ws/nameService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>